<% if notice %>
  <div class="w3-panel w3-green w3-display-container w3-card-4">
  <span onclick="this.parentElement.style.display='none'"
        class="w3-button w3-small w3-display-topright">&times;</span>
    <p>    <%= notice %></p>
  </div>
<% end %>
<% if alert %>
  <div class="w3-panel w3-yellow w3-display-container w3-card-4">
  <span onclick="this.parentElement.style.display='none'"
        class="w3-button w3-small w3-display-topright">&times;</span>
    <p>    <%= alert %></p>
  </div>
<% end %>
